<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and Directories</li>
      <li>History and Tab Completion</li>
      <li>Counting and Sorting Contents in Files</li>
      <li>Pipes and Redirection</li>
      <li>Mining or Searching in Files</li>
      <li><a href="https://librarycarpentry.github.io/lc-shell/reference">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-openrefine">OpenRefine</h3>
      <ul>
        <li>Introduction to OpenRefine</li>
        <li>Importing Data</li>
        <li>Basic Functions</li>
        <li>Advanced Functions</li>
        <li><a href="https://librarycarpentry.github.io/lc-open-refine/reference">Reference...</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Introduction to Python</h3>
    <ul>
      <li>Getting Started with Python</li>
      <li>Starting with Data</li>
      <li>Data Types and Formats</li>
      <li>Pandas Library</li>
      <li>Data workflows and automation</li>
      <li>Plotting your data</li>
      <li><a href="https://librarycarpentry.github.io/lc-shell/reference">Reference...</a></li>
    </ul>
  </div>
</div>
